<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>obgyn</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/css/Footer-Dark.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/css/project-card.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/css/Simple-Slider.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='base/css/styles.css') }}">
    
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="color: var(--bs-info);background: #defbed;">
        <div class="container"><a class="navbar-brand" href="#" style="border-color: var(--bs-yellow);color: #0da0a0;font-size: 25px;">OB-GYN</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}" style="color: var(--bs-gray-dark);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('ourdoctors') }}" style="color: var(--bs-gray-dark);">Our Doctors</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('faq') }}">FAQs</a></li>
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> <a class="login" href="{{ url_for('signin') }}">Sign In</a></span>
            </div>
        </div>
    </nav>
    
    {% block mainbody %}
      <h1>Home Page!</h1>
    {% endblock %}
  
    <footer class="footer-dark" style="height: 250px;">
        <div class="container" style="height: 120px;">
            <div class="row" style="height: 100px;">
                <div class="col-sm-6 col-md-3 item" style="height: 120px;">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="{{ url_for('ourdoctors') }}">Our Doctors</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('faq') }}">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>OB-GYN</h3>
                    <p>Our department is the&nbsp;Obstetrics and gynecology department. We are more than glad that you have visited our website. You can check out the list of our experienced doctors, check our frequently asked questions and contact us for any inquires or complains.&nbsp;&nbsp;</p>
                </div>
            </div>
            <p class="copyright">OB-GYN By Hadeer Khaled, Laila Hamdy, Nada Ahmed and Nouran Mohamed © 2021</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='base/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static',filename='base/js/Simple-Slider.js')}}"></script>
</body>

</html>