img#pallo.img-circle.img-responsive {
  padding: 33px;
}

* {
  margin: 0;
}

* {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-family: 'Open Sans';
  color: #406286 !important;
}

